<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold;}
      .success { color: green; border: 1px solid green; border-radius: 10px; padding: 5px;}
      .error { color: red; border:1px solid red; border-radius: 10px; padding: 5px;}
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunchItems">
             <em> <sup>*</sup> I do NOT consider an empty item , i.e., , , as an item towards to the count</em>
         </div>
         <div class="form-group">
             <button ng-click="checkIfTooMuch()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <span class="{{class}}">{{message}}</span>
         </div>
   </div>
   <script src="scripts/angular.min.js"></script>
   <script src="scripts/app.js"></script>
</body>
</html>
